In [1]:
import pandas as pd

In [2]:
df = pd.read_csv('data/lynx_ppl.csv', header=None)
df.drop(columns=4, inplace=True)

In [3]:
df.columns = ['athleteNumber', 'lastName', 'firstName', 'team', 'sex', 'eventNumber']

In [4]:
def get_all_events(group):
    eventNumbers = group.eventNumber.tolist()
    strEventNumbers = [str(num) for num in eventNumbers]
    group['eventNumbers'] = ','.join(strEventNumbers)
    return group

In [5]:
df = df.groupby(by='athleteNumber').apply(get_all_events)
df.drop(columns='eventNumber', inplace=True)
df.drop_duplicates(subset='athleteNumber', inplace=True)
df.head()

In [9]:
# df.to_csv('bleh.csv', index=False)

,athleteNumber,lastName,firstName,team,sex,eventNumber,eventNumbers
0,10,Spires,Shelley,AFA,F,27,27
1,11,Rhoads,Michael,AFA,M,4,4
2,12,Bryan,Lucy,AKR,F,28,28
3,13,Siefring,Jaclyn,AKR,F,34,"34,29"
5,14,Latimer,Jordan,AKR,M,13,13
6,15,Ludwig,Matthew,AKR,M,12,12
7,16,Clark,Tamara,BAMA,F,18,"18,17"
9,17,Darius,Symone,BAMA,F,18,"18,17"
11,18,Destin,Stacey,BAMA,F,34,"34,27"
13,19,Lampkin,Daija,BAMA,F,17,"17,18"
15,20,Prieto,Mauricia,BAMA,F,19,19
16,21,Roberson,Takyera,BAMA,F,19,19
17,22,Warren,Portious,BAMA,F,31,31
18,24,Ferguson,Kord,BAMA,M,15,15
19,25,Haugh,Daniel,BAMA,M,16,16
20,26,Kigen,Gilbert,BAMA,M,6,"6,7"
22,27,Kiprop,Vincent,BAMA,M,7,"7,6"
24,28,McEwen,Shelby,BAMA,M,11,11
25,29,Walters,Ruebin,BAMA,M,8,8
26,30,Green,Claire,ARIZ,F,22,"22,21"
28,31,Geist,Jordan,ARIZ,M,15,15
29,32,Villarreal,Carlos,ARIZ,M,5,5
30,33,Ewen,Maggie,AZST,F,32,"32,31"
32,34,Baylark,Jada,ARK,F,18,"18,17"
34,35,Brooks,Taliyah,ARK,F,27,"27,24,17,29,34"
39,36,Brown,Janeek,ARK,F,24,24
40,37,Burks Magee,Morgan,ARK,F,19,"19,26"
41,38,Chadwick,Payton,ARK,F,19,"19,17,24,29,18"
46,39,Freier,Desiree,ARK,F,28,28
47,40,Hiltz,Nikki,ARK,F,21,"21,22,20,26"
...,...,...,...,...,...,...,...
879,214,Browning,Teddy,IU,M,10,10
883,220,Muncherji,Zubin,IU,M,10,10
885,233,Hofacker,Collin,IOWA,M,10,10
886,234,Thompson,Chris,IOWA,M,10,10
888,238,Cooney,Riley,KU,F,26,26
889,239,Coppinger,Courtney,KU,F,26,26
890,240,Dimmick,Hannah,KU,F,26,26
903,343,Jones,Steffi,UNM,F,26,26
904,345,Keller,Shalom,UNM,F,26,26
910,352,Haywood,Mark,UNM,M,10,10
920,369,Keller,Annasophia,ND,F,26,26
921,370,Miller,Payton,ND,F,26,26
922,371,Murray,Samantha,ND,F,26,26
924,373,Cheatham,Edward,ND,M,10,10
926,375,Goldman,Clayton,ND,M,10,10
927,376,Hansen,Kirk,ND,M,10,10
929,378,Silva,Elijah,ND,M,10,10
931,389,Cooper,Joseph,OHST,M,10,10
933,401,Coleman,Amira,OKST,F,26,26
935,403,Hetherington,Abbie,OKST,F,26,26
937,405,Wesley,Ambra,OKST,F,26,26
939,409,Bethmann,Cade,MISS,M,10,10
940,410,Domanic,Robert,MISS,M,10,10
944,414,Westbrook,Alvin,MISS,M,10,10
965,484,Mongiovi,Missy,STAN,F,26,26
966,486,Wilson,Carolyn,STAN,F,26,26
968,491,McGorty,Brandon,STAN,M,10,10
969,492,McGorty,Sean,STAN,M,10,10
970,493,Sathyamurthy,Hari,STAN,M,10,10
975,531,Owens,Jarra,TAMU,F,26,26